body {
    color: azure;
}

.hero {
    display: flex;
}

.hero-video {
    overflow: hidden;
    height: 100dvh;
    width: 100%;
}

.hero-video video {
    min-width: 100%;
    min-height: 100%;
}

h1 {
    align-items: center;
}

h5 {
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.contact-content, .social-media {
    background-color: #343a40;
    padding: 2vh;
    font-size: 18px;
    line-height: 2;
    text-indent: 50px;
    border-radius: 30px;
}

.content-image {
    width: auto;
    height: 15vh;
}

.title {
    text-align: center;
    padding-bottom: 4vh;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.social-icons {
    height: 3vh;
    width: auto;
    margin-right: 1vh;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.social-li {
    margin-bottom: 1vh;
}