.navbar-toggler {
    width: 85vw;
    margin: auto;
    border-radius: 0%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.navbar-toggler:focus {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.custom-navbar {
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    margin-top: 2vh;
    margin-bottom: 10vh;
}

.nav-text {
    text-align: center;
    color: white;
}